*.config
*.v2
*.testlog
*.manifest
TrafficDataBackEndAPI.BackEndApi/.vs/TrafficDataBackEndAPI.BackEndApi/v16/.suo
*.dll
*.exe
*.pdb
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/obj/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.Tests.AssemblyInfo.cs
*.cache
*.CopyComplete
*.txt
*.props
*.targets
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Migrations/20200421111738_InitialCreate.cs
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Migrations/20200421111738_InitialCreate.Designer.cs
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Migrations/ContextModelSnapshot.cs
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/obj/Debug/netcoreapp3.1/staticwebassets/TrafficDataBackEndAPI.BackEndApi.StaticWebAssets.xml
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/obj/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.AssemblyInfo.cs
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.csproj.user
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Migrations/20200422062634_MeasurementPoint-Model.Designer.cs
Docs/Data/.ipynb_checkpoints/PrepareSeedData-checkpoint.ipynb
Docs/Data/PrepareSeedData.ipynb
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Migrations/20200429112420_TrfficData-Model.Designer.cs
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Migrations/20200508091915_Date-to-Timestamp.Designer.cs
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Extraction/Files/trafficspeed.xml.gz
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/appsettings.Development.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/bin/Debug/netcoreapp3.1/appsettings.development.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/trafficspeed.xml
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/trafficspeed.xml.gz
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/measurement.xml
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/measurement.xml.gz
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Extraction/Files/measurement.xml
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Extraction/Files/measurement.xml.gz
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.Tests.deps.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.Tests.runtimeconfig.dev.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.Tests.runtimeconfig.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/obj/project.assets.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/obj/TrafficDataBackEndAPI.BackEndApi.Tests.csproj.nuget.dgspec.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/bin/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.deps.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/bin/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.runtimeconfig.dev.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/bin/Debug/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.runtimeconfig.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/obj/Debug/netcoreapp3.1/project.razor.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/obj/project.assets.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/obj/TrafficDataBackEndAPI.BackEndApi.csproj.nuget.dgspec.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Properties/launchSettings.json
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/Extraction/Files/trafficspeed.xml
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/obj/Release/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.Tests.AssemblyInfo.cs

TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi/obj/Release/netcoreapp3.1/TrafficDataBackEndAPI.BackEndApi.AssemblyInfo.cs
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/parse_test_measurement.xml
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/parse_test_measurement.xml.gz
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/parse_test_trafficspeed.xml
TrafficDataBackEndAPI.BackEndApi/TrafficDataBackEndAPI.BackEndApi.Tests/bin/Debug/netcoreapp3.1/Extraction/Files/parse_test_trafficspeed.xml.gz
